*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
ML_Backend/ML_Backend_env
ML_Backend/text_summarizer/__pycache__/
*.pyc
__pycache__
ML_Backend/.env